{% extends "base.html" %} {% block title %}{{name_header}}{% endblock %} {% block content
%}
<div class="invisible">
    <h1>Blijkbaar nodig</h1>
</div>
<p>
    <h1>{{name_header}}</h1>
</p>

<div class="gallery_env">
    <div class="row">
    
        {% for product_info in products_info %}
            <div class="col-sm">
                <form method="POST">
                <div class="card" style="width: 18rem;">
                    <div class="text-center">
                        <div class="form-group">
                            <div class="invisible"><input type="text" readonly class="form-control-plaintext" name="product_img" id="product_img" value="{{product_info['article_img']}}"></div>
                        </div>
                        <img class="img-thumbnail img_fluid" src="{{ product_info['article_img']}}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="invisible">
                                <input type="text" readonly class="form-control-plaintext" name="product_name" id="product_name" value="{{product_info['article_name']}}">
                            </div>
                            <p class="card-title font-weight-bold">
                                {{product_info['article_name']}}
                            </p>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="text" readonly class="form-control-plaintext" name="product_base_price" id="product_base_price" value="{{product_info['article_base_price']}}">
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Add item <span class="caret"></span></button>
                                </div>
                            
                        </div>
                        <input type="text" readonly class="form-control-plaintext" name="product_base_price_type" id="product_base_price_type" value="{{product_info['article_SKU']}}">
                        
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            <div class="invisible">
                                <input type="text" readonly class="form-control-plaintext" name="product_big_price" id="product_big_price" value="{{product_info['article_big_price']+' '+product_info['article_big_price_type']}}">
                            </div>
                            <p class="text-muted">{{product_info['article_big_price']+' '+product_info['article_big_price_type']}}</p>
                        </div>
                    </li>
                    </ul>
                </div>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}