{% extends "base.html" %} 
{% block title %}Instructions{% endblock %} 
{% block content %}
<div class="invisible">
  <h1>Blijkbaar nodig</h1>
</div>
<h1>Instructies</h1>
<div class="card">
  <div class="card-header">
      <div class="header"><p class="font-weight-bold">Verschillende categorieën</p></div>
      <p>Alle producten op deze website zijn te vinden op verschillende webpagina's. Elke webpagina bevat een andere categorie. Alle categorieën zijn onderverdeeld in groepen voor een beter overzicht. De groepen zijn te vinden in de donkergrijze balk net onder het webadres. Indien de cursor boven een groep hangt zullen de verschillende categorieën in die groep verschijnen en aanklikbaar zijn.</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
      <div class="header"><p class="font-weight-bold">Product plaatsen in mandje</p></div>
      <p>Om een product toe te voegen aan uw mandje terwijl u verder winkelt, klik op de blauwe knop met de tekst "add item". Er verschijnt een groen balkje dat het toevoegen bevestigt. Om na te gaan wat er in uw mandje zit, klik op "mandje" in de donkergrijze balk net onder het webadres.</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
      <div class="header"><p class="font-weight-bold">Product verwijderen uit mandje</p></div>
      <p>Om een product te verwijderen uit uw mandje, klik op "mandje" in de donkergrijze balk net onder het webadres. Deze webpagina bevat al de producten in uw mandje. Om een product te verwijderen, klik op het rood kruisje naast het product. Er verschijnt een groen balkje dat het verwijderen bevestigt.</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
      <div class="header"><p class="font-weight-bold">Mandje doorsturen</p></div>
      <p>Wanneer u al de gewenste artiekelen heeft gekozen, is er nog één stap die u moet doen zodat de data van uw mandje kan worden opgeslagen. Klik op "mandje" in de donkergrijze balk net onder het webadres. Deze webpagina bevat al de producten in uw mandje. Klik op de groene knop met de tekst "stuur winkelmand door". Hierdoor wordt de data van uw geselecteerde producten opgeslagen. Let op: uw mandje wordt hierdoor opnieuw leeg gemaakt! Er verschijnt een groen balkje dat het doorsturen bevestigt en u wordt terug naar deze webpagina gestuurd.</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
      <div class="header"><p class="font-weight-bold">Account</p></div>
      <p>Uw account blijft bestaan als u zich uitlogt of de website verlaat. Indien u de website verlaat zonder uw mandje door te sturen, is er geen probleem. Wanneer u zich opnieuw inlogt, zal u gewoon verder kunnen winkelen met al de geselecteerde producten nog steeds in het mandje.</p>
  </div>
</div>
{% endblock %}